<div class="form-container">
    <h1 class="form-title">Reset Your Password</h1>
  
    <form [formGroup]="emailFormGroup" (ngSubmit)="sendResetPasswordEmail(email.value)">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="email.hasError('email')">Invalid email address</mat-error>
        <mat-error *ngIf="email.hasError('maxlength')">
          Maximum length is {{ email.errors?.['maxlength']?.['requiredLength'] }} characters
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button type="submit" [disabled]="emailFormGroup.invalid" class="form-button">
        Send Reset Email
      </button>
    </form>
  
    <div class="form-links centered">
      <a routerLink="/login">Back to Login</a>
    </div>
</div>
  