<div class="form-container">
    <h1 class="form-title">Change Your Password</h1>
  
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" />
        <mat-error *ngIf="newPassword.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="newPassword.hasError('minlength')">
          Minimum length is {{ newPassword.errors?.['minlength']?.['requiredLength'] }} characters
        </mat-error>
        <mat-error *ngIf="newPassword.hasError('maxlength')">
          Maximum length is {{ newPassword.errors?.['maxlength']?.['requiredLength'] }} characters
        </mat-error>
        <mat-error *ngIf="newPassword.hasError('pattern')">
          Password must include uppercase, lowercase, number, and special character
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Repeat New Password</mat-label>
        <input matInput type="password" formControlName="repeatNewPassword" />
        <mat-error *ngIf="repeatNewPassword.hasError('required')">Repeat password is required</mat-error>
        <mat-error *ngIf="repeatNewPassword.hasError('minlength')">
          Minimum length is {{ repeatNewPassword.errors?.['minlength']?.['requiredLength'] }} characters
        </mat-error>
        <mat-error *ngIf="repeatNewPassword.hasError('maxlength')">
          Maximum length is {{ repeatNewPassword.errors?.['maxlength']?.['requiredLength'] }} characters
        </mat-error>
        <mat-error *ngIf="repeatNewPassword.hasError('pattern')">
          Password must include uppercase, lowercase, number, and special character
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button type="submit" class="form-button" [disabled]="changePasswordForm.invalid">
        Change Password
      </button>
    </form>
  
    <div class="form-links">
      <button mat-button (click)="onBackButtonClicked()">Back to Home</button>
    </div>
  </div>
  