.manage-users-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;

    .items-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}