<div class="manage-users-page-container">
    <div class="items-container">
        <div class="container">
            <form [formGroup]="filterFormGroup">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Filter by Username</mat-label>
                    <input matInput formControlName="searchTerm" (keyup)="applyFilter()" />
                </mat-form-field>
            </form>

            <div class="table-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef>Username</th>
                        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
                    </ng-container>

                    <ng-container matColumnDef="isEmailConfirmed">
                        <th mat-header-cell *matHeaderCellDef>Email Confirmed</th>
                        <td mat-cell *matCellDef="let user">{{ user.isEmailConfirmed ? 'Yes' : 'No' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="registrationDate">
                        <th mat-header-cell *matHeaderCellDef>Registration Date</th>
                        <td mat-cell *matCellDef="let user">{{ user.registrationDate | date }}</td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let user">
                            <button mat-button (click)="onDeleteClicked(user)">Delete</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="pageSize"
                [pageIndex]="page"
                [length]="totalUsers"
                (page)="onPageChange($event)"
            ></mat-paginator>
        </div>
    </div>
</div>

<app-confirmation-modal
    *ngIf="isDeleteUserModalOpen"
    [title]="'Delete User'"
    [message]="'Are you sure you want to delete this user?'"
    (confirm)="onDeleteConfirmed()"
    (cancel)="onCloseModal()"
></app-confirmation-modal>